<div *ngIf="report">
  <h2>Edit Report</h2>
  <form (ngSubmit)="saveReport()">
    <input type="text" [(ngModel)]="report.reporterName" name="reporterName" placeholder="Reporter's Name" required>
    <input type="tel" [(ngModel)]="report.reporterPhone" name="reporterPhone" placeholder="Reporter's Phone" required>
    <input type="text" [(ngModel)]="report.troublemakerName" name="troublemakerName" placeholder="Troublemaker's Name" required>
 <!-- 位置选择 -->
 <select [(ngModel)]="report.location" name="location">
  <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
</select>
<input type="text" [(ngModel)]="newLocation" name="newLocation" placeholder="Add New Location">
    <input type="text" [(ngModel)]="report.longitude" name="longitude" placeholder="Longitude"> 
    <input type="text" [(ngModel)]="report.latitude" name="latitude" placeholder="Latitude"> 
    <input type="url" [(ngModel)]="report.pictureUrl" name="pictureUrl" placeholder="Picture URL"> 
    <textarea [(ngModel)]="report.extraInfo" name="extraInfo" placeholder="Extra Info"></textarea> 
    <button type="submit">Save Changes</button>
  </form>
</div>
